<mat-card>
    <mat-card-header>
        <h1>Configuración de la Empresa</h1>
    </mat-card-header>
    <mat-card-content>
        <mat-form-field appearance="outline">
            <mat-label>Seleccionar Empresa</mat-label>
            <mat-select [formControl]="business">
               <mat-option [value]="" disabled>Seleccionar</mat-option>
               <mat-option *ngFor="let item of businesses" [value]="item._id">{{ item.title }}</mat-option>
            </mat-select>
         </mat-form-field>
    </mat-card-content>
</mat-card>

<mat-card>
    <mat-card-header>
        <h1>Configuración</h1>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="myForm" autocomplete="off">
            <mat-form-field appearance="fill">
                <mat-label>Moneda</mat-label>
                <input formControlName="currency" placeholder="Moneda" matInput />
             </mat-form-field>

            <div class="row">
                <div class="col-md-6 d-flex">
                    <mat-form-field style="width: 150px;">
                        <mat-select [formControl]="typeID">
                          <mat-option value="ticket">Boleta</mat-option>
                          <mat-option value="invoice">Factura</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Serie</mat-label>
                        <input (keypress)="onlyKeys($event)" #input matInput placeholder="Ingrese una serie" [formControl]="serieValue">
                        <mat-error *ngIf="isValid()">{{ showMessage() }}</mat-error>
                    </mat-form-field>
                    <button (click)="addItem()" mat-mini-fab color="primary" type="button" class="mt-2 ms-3">
                        <mat-icon fontIcon="add"></mat-icon>
                    </button>
                </div>
            </div>
          
            <div class="row">
                <div formArrayName="invoice" class="col-md-6">
                    <h4>Facturas</h4>
                    <div *ngFor="let item of invoices; let i = index">
                      <div class="d-flex gap-3" [formGroupName]="i">
                        <mat-form-field>
                          <input matInput placeholder="Serie" formControlName="serie">
                        </mat-form-field>
                        <mat-form-field>
                          <input matInput placeholder="Number" formControlName="number">
                        </mat-form-field>
                        <button (click)="removeItemF(i)" mat-mini-fab color="warn" type="button" class="mt-2">
                          <mat-icon fontIcon="delete"></mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
      
                  <div formArrayName="ticket" class="col-md-6">
                      <h4>Boletas</h4>
                      <div *ngFor="let item of tickets; let i = index">
                        <div class="d-flex gap-3" [formGroupName]="i">
                          <mat-form-field>
                            <input matInput placeholder="Serie" formControlName="serie">
                          </mat-form-field>
                          <mat-form-field>
                            <input matInput placeholder="Number" formControlName="number">
                          </mat-form-field>
                          <button (click)="removeItemB(i)" mat-mini-fab color="warn" type="button" class="mt-2">
                            <mat-icon fontIcon="delete"></mat-icon>
                          </button>
                        </div>
                      </div>
                  </div>
            </div>
            <button (click)="onSubmit()" mat-raised-button color="primary" type="button">Guardar</button>
          </form>
          
    </mat-card-content>
</mat-card>