<mat-sidenav-container class="sidenav-container" [ngClass]="{ 'dark-theme': isDarkTheme }">
  
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar routerLink="/dashboard">
        <span>POS SYSTEM</span>
      </mat-toolbar>
      <mat-nav-list>
        <ng-container *ngFor="let item of sidebar">
          <mat-list-item *ngIf="isAllowed(item.path)" [routerLink]="item.path" routerLinkActive="active">
           <div class="d-flex gap-2">
              <mat-icon [fontIcon]="item.icon"></mat-icon><span class="mt-1">{{ item.title }}</span>
           </div>
          </mat-list-item>
        </ng-container>
      </mat-nav-list>
    </mat-sidenav>
    
    <mat-sidenav-content class="mat-app-background">
      <mat-toolbar color="primary">
        <button mat-icon-button mat-icon-button (click)="drawer.toggle()">
          <mat-icon fontIcon="menu"></mat-icon>
        </button>
        <span class="spacer"></span>
        <button mat-icon-button (click)="changeTheme()">
          <mat-icon *ngIf="isDarkTheme" fontIcon="sunny"></mat-icon>
          <mat-icon *ngIf="!isDarkTheme" fontIcon="bedtime"></mat-icon>
        </button>
        <button mat-button [matMenuTriggerFor]="menu">{{ user.full_name | titlecase }}</button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>Mi Perfil</button>
          <button (click)="logout()" mat-menu-item>Salir</button>
        </mat-menu>
      </mat-toolbar>
      <div class="progress-container">
        <mat-progress-bar *ngIf="loading | async" mode="indeterminate" color="warn"></mat-progress-bar>
      </div>
      <div class="container mt-5">
        <ng-content></ng-content>
      </div>
    </mat-sidenav-content>
  
  </mat-sidenav-container>