<mat-card>
    <mat-card-content>
       <div mat-dialog-title class="text-center">{{ titleModal }}</div>
       <form [formGroup]="myForm" autocomplete="off">
          <mat-form-field>
             <mat-label>RUC</mat-label>
             <input formControlName="ruc" (keypress)="onlyKeyNumber($event, 11)" matInput />
             <mat-error *ngIf="isValid('ruc')">{{ showMessage('ruc') }}</mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Título</mat-label>
            <input formControlName="title" matInput />
            <mat-error *ngIf="isValid('title')">{{ showMessage('title') }}</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Distrito</mat-label>
            <input formControlName="district" matInput />
            <mat-error *ngIf="isValid('district')">{{ showMessage('district') }}</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Provincia</mat-label>
            <input formControlName="province" matInput />
            <mat-error *ngIf="isValid('province')">{{ showMessage('province') }}</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Dirección</mat-label>
            <input formControlName="address" matInput />
            <mat-error *ngIf="isValid('address')">{{ showMessage('address') }}</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Correo Empresarial</mat-label>
            <input formControlName="email" matInput />
            <mat-error *ngIf="isValid('email')">{{ showMessage('email') }}</mat-error>
         </mat-form-field>
         <mat-form-field>
            <mat-label>Teléfono</mat-label>
            <input formControlName="phone" matInput />
            <mat-error *ngIf="isValid('phone')">{{ showMessage('phone') }}</mat-error>
         </mat-form-field>
       </form>
       <div mat-dialog-actions class="mt-3">
          <button (click)="onClick()" mat-raised-button [color]="colorButton" [disabled]="onLoading()">{{ titleButton }}</button>
          <button (click)="onClose()" mat-raised-button>Cerrar</button>
       </div>
    </mat-card-content>
</mat-card>
  