<mat-card class="px-3">
   <mat-card-content>
      <app-business-card (formData)="getFormData($event)"></app-business-card>
      <form [formGroup]="myForm" class="row" autocomplete="off">
         <div class="col-md-6">
            <div class="d-flex">
               <mat-form-field style="width: 150px;">
                  <mat-select [formControl]="typeID">
                     <mat-option value="dni">DNI</mat-option>
                     <mat-option value="ruc">RUC</mat-option>
                  </mat-select>
               </mat-form-field>
               <mat-form-field>
                  <mat-label>Número Documento</mat-label>
                  <input (keypress)="onlyKeyNumber($event)" formControlName="document" matInput placeholder="Número de documento" type="number">
                  <mat-error *ngIf="isValid('document')">{{ showMessage('document') }}</mat-error>
               </mat-form-field>
            </div>
         </div>
         <div class="col-md-6">
            <mat-form-field>
               <mat-label>Fecha de emisión</mat-label>
               <input formControlName="date" matInput [matDatepicker]="picker" [min]="minDate">
               <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
               <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
         </div>
         <div class="col-md-6">
            <mat-form-field>
               <mat-label>Cliente</mat-label>
               <input formControlName="customer" matInput placeholder="Cliente (opcional)">
               <mat-error *ngIf="isValid('customer')">{{ showMessage('customer') }}</mat-error>
            </mat-form-field>
         </div>
         <div class="col-md-6">
            <mat-form-field>
               <mat-label>Dirección</mat-label>
               <input formControlName="address" matInput placeholder="Dirección (opcional)">
            </mat-form-field>
         </div>
      </form>
      <mat-form-field>
         <mat-label>Buscar Producto</mat-label>
         <input matInput [formControl]="product" [matAutocomplete]="matProduct">
         <button (click)="product.setValue('')" *ngIf="product.value" matSuffix mat-icon-button>
         <mat-icon fontIcon="close"></mat-icon>
         </button>
         <mat-autocomplete #matProduct="matAutocomplete">
            <mat-option (click)="addToShoppingCart(item)" *ngFor="let item of productsOptions" [value]="item">
            <img [src]="item.image?.secure_url | image: 'products'" loading="lazy" alt="user" style="width: 40px; margin-right: 5px;">
            {{ item.title | titlecase }} - {{ item.price | currency: currency }}
            </mat-option>
         </mat-autocomplete>
      </mat-form-field>
      <div class="table-responsive" style="height: 340px;">
         <table mat-table [dataSource]="dataSource">
            <ng-container matColumnDef="image">
               <th mat-header-cell *matHeaderCellDef>Imagen</th>
               <td mat-cell *matCellDef="let element">
                  <img [src]="element.image | image: 'products'" alt="user" style="width: 40px;">
               </td>
            </ng-container>
            <ng-container matColumnDef="title">
               <th mat-header-cell *matHeaderCellDef> Descripción </th>
               <td mat-cell *matCellDef="let element"> {{ element.title }} </td>
            </ng-container>
            <ng-container matColumnDef="quantity">
               <th mat-header-cell *matHeaderCellDef> Cantidad </th>
               <td mat-cell *matCellDef="let element; let i = index">
                  <mat-form-field appearance="outline" class="container-input mat-md-h my-2">
                     <button (click)="decrementQuantity(i)" mat-icon-button matPrefix>
                        <mat-icon>remove</mat-icon>
                     </button>
                     <input (keyup)="changedQuantity($event, i)" [value]="element.quantity" type="number" matInput class="input-number mat-number"/>
                     <button (click)="incrementQuantity(i)" mat-icon-button matSuffix>
                        <mat-icon>add</mat-icon>
                     </button>
                  </mat-form-field>
               </td>
            </ng-container>
            <ng-container matColumnDef="price">
               <th mat-header-cell *matHeaderCellDef> Precio Unidad </th>
               <td mat-cell *matCellDef="let element; let i = index">
                  <mat-form-field appearance="outline" class="container-input mat-md-h my-2">
                     <input (keyup)="changedPrice($event, i)" [value]="element.price | number : '1.2-2'" type="number" matInput class="input-number mat-number"/>
                  </mat-form-field>
               </td>
            </ng-container>
            <ng-container matColumnDef="subtotal">
               <th mat-header-cell *matHeaderCellDef> Subtotal </th>
               <td mat-cell *matCellDef="let element"> {{ element.quantity * element.price | currency: currency }} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
               <th mat-header-cell *matHeaderCellDef> Actions </th>
               <td mat-cell *matCellDef="let element; let i = index">
                  <button (click)="removeFromShoppingCart(i)" mat-mini-fab color="warn">
                     <mat-icon fontIcon="close"></mat-icon>
                  </button>
               </td>
            </ng-container>
            <ng-container>
               <tr *matNoDataRow>
                  <td class="text-center py-4" [attr.colspan]="displayedColumns.length">No has seleccionado productos.</td>
               </tr>
            </ng-container>
            <ng-container>
               <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
               <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </ng-container>
         </table>
      </div>
      <ng-container>
         <mat-list role="list" class="text-end me-5">
            <mat-list-item role="listitem">Operación Gravada: {{ opGrav | currency: currency }}</mat-list-item>
            <mat-list-item role="listitem">IGV: {{ amount * tax | currency: currency }}</mat-list-item>
            <mat-list-item role="listitem">Importe Total: {{ amount | currency: currency }}</mat-list-item>
            <mat-list-item role="listitem">Importe en Letras: {{ amountLetters | uppercase }}</mat-list-item>
            <mat-list-item role="listitem"><button (click)="onSubmit()" [disabled]="loadButton" type="button" mat-raised-button color="primary">Vender</button></mat-list-item>
          </mat-list>
      </ng-container>
   </mat-card-content>
</mat-card>
