<mat-card>
  <mat-card-content>
    <div class="avatar-upload">
      <div class="avatar-input">
          <input (change)="fileChanged($event)" type='file' id="imageUpload" accept=".png, .jpg, .jpeg, .webp" />
          <label for="imageUpload"><i class="material-icons">edit</i></label>
      </div>
      <div class="avatar-preview">
          <img [src]="imgSelected" [default-image]="type">
      </div>
      <p class="text-center mt-3 mb-0">{{ title }}</p>
    </div>
    <div mat-dialog-actions style="justify-content: center;">
      <button *ngIf="!loadButton" (click)="onSubmit()" mat-raised-button color="primary" [disabled]="disabled">Subir</button>
      <button *ngIf="loadButton" mat-raised-button color="primary" [disabled]="true">Subiendo</button>
      <button mat-raised-button (click)="onClose()">Cerrar</button>
    </div>
  </mat-card-content>
</mat-card>
  